# ========================
# Ignore files
# ========================
*.csv
*.pdf
 
# ========================
# Ignore image 
# ========================
.DS_Store

# ========================
# R 
# ========================
# History files ==========
*.Rhistory
*.Rapp.history
# Session Data files======
*.RData

